img {
  width: 84%;
  border-radius: 10px;
}
body {
  background-color: #ff15d00a;
  padding-bottom: 30px;
}
ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  gap: 27px;
  justify-content: center;
}
li {
  background-color: #ffd7f0;
  width: 330px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  border: dashed rgba(255, 0, 98, 0.665);
}
button {
  margin-top: 30px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  height: 30px;
  width: 140px;
  border-radius: 30px;
  border: solid rgba(255, 0, 217, 0.232) 2px;
  background-color: rgb(255, 172, 238);
  color: #fff;
  align-items: center;
  justify-content: center;
}
